#calendar
  %h3
    = link_to 'Previous month', calendar_path("#{calendar.previous.year}-#{calendar.previous.month.number}")
    |
    = "#{calendar.month.to_s "%B"} #{calendar.year}"
    |
    = link_to 'Next month', calendar_path("#{calendar.next.year}-#{calendar.next.month.number}")

  %table
    %thead
      %tr
        - calendar.day_names.each do |name|
          %th= name
    %tbody
      - calendar.weeks.each do |week|
        %tr
          - week.each do |day|
            %td{:class => ('today' if day.today?)}
              = day.number